[Unit]
Description=Collect DHT11 metrics for Prometheus
After=network-online.target

[Service]
Environment=PROM_FILE_PATH=/var/lib/node_exporter/dht11_exporter.prom SLEEP_DURATION=15
ExecStart=/usr/local/bin/dht11_exporter

[Install]
WantedBy=multi-user.target
